In [1]:
# ПАКЕТ SURPRISE
#  − используйте данные MovieLens 1M
#  − можно использовать любые модели из пакета
#  − получите RMSE на тестовом сете 0.87 и ниже

# Решением будет ссылка на гитхаб с готовым ноутбуком

In [2]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

import pandas as pd

In [3]:
movies = pd.read_csv('ml-1m/movies.dat',sep='::')
ratings = pd.read_csv('ml-1m/ratings.dat',sep='::')

/home/dmitry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/home/dmitry/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [4]:
movies_with_ratings = movies.join(ratings.set_index('fid'), on='fid').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [5]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.uid,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})
dataset.head()

    uid               iid  rating
0  1193  Toy Story (1995)       5
1   661  Toy Story (1995)       3
2   914  Toy Story (1995)       3
3  3408  Toy Story (1995)       4
4  2355  Toy Story (1995)       5

In [6]:
reader = Reader(rating_scale=(ratings.rating.min(), ratings.rating.max()))
data = Dataset.load_from_df(dataset, reader)

In [7]:
trainset, testset = train_test_split(data, test_size=.15)

In [8]:
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset)
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8578

0.8577899806785427