In [1]:
# ПАКЕТ SURPRISE
#  − используйте данные MovieLens 1M
#  − можно использовать любые модели из пакета
#  − получите RMSE на тестовом сете 0.87 и ниже

# Решением будет ссылка на гитхаб с готовым ноутбуком

In [3]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

import pandas as pd

In [11]:
movies = pd.read_csv('../HW_1/ml-latest-small/movies.csv')
ratings = pd.read_csv('../HW_1/ml-latest-small/ratings.csv')

In [14]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [17]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})
dataset.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     4.0
1   5.0  Toy Story (1995)     4.0
2   7.0  Toy Story (1995)     4.5
3  15.0  Toy Story (1995)     2.5
4  17.0  Toy Story (1995)     4.5

In [20]:
reader = Reader(rating_scale=(ratings.rating.min(), ratings.rating.max()))
data = Dataset.load_from_df(dataset, reader)

In [21]:
trainset, testset = train_test_split(data, test_size=.15)

In [30]:
# cosine -             RMSE: 0.8949
# msd    -             RMSE: 0.8916
# pearson -            RMSE: 0.8891
# pearson_baseline -   RMSE: 0.8860
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset)
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.8860

0.8860393674986592

In [25]:
algo.predict(uid=2, iid='Fight Club (1999)')

Prediction(uid=2, iid='Fight Club (1999)', r_ui=None, est=4.726360424143651, details={'actual_k': 50, 'was_impossible': False})